@import './_summary.scss';
@import './_header.scss';
@import './_login.scss';
@import './_service_item.scss';
@import './_transfer.scss';
@import './_modal.scss';
@import './_loading.scss';
@import './_teller.scss';
@import './_history_transaction.scss';

.logo-img {
    display: block;
    width: 70px;
    height: 70px;
}
